<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://intense-highgarden-85-209200.use1.nitrousbox.com/profiles">Web Girls</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://intense-highgarden-85-209200.use1.nitrousbox.com/profiles/7">Victoria</a></li>
            <li><a href="http://intense-highgarden-85-209200.use1.nitrousbox.com/profiles/9">Eunice</a></li>
            <li><a href="http://intense-highgarden-85-209200.use1.nitrousbox.com/profiles/3">Elmedina</a></li>
            <li><a href="http://intense-highgarden-85-209200.use1.nitrousbox.com/profiles/4">Stephani</a></li>
            <li><a href=http://intense-highgarden-85-209200.use1.nitrousbox.com/new_profile>New Profile</a></li>
            <li><a href="/new_user">New User</a></li>
            
          </ul>

      </div>
    </nav>
<br>
<br>
<br>
<br>
    
<%= yield %>
        

</body>
</html>
